$header-font: 'Abril Fatface';
$main-font: 'Quicksand';

.navbar {
  font-family: $main-font;
}

#logo {
  margin-left: 10px; 
}

h1 {
  font-family: $header-font;
  font-size: 40px;
}

h4, h2 {
    font-family: $header-font;
  }

p {
  font-family: $main-font;
}

form {
  font-family: 'Quicksand', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: 'Quicksand', sans-serif;
}

//setting up some fonts 